<header>
    <h1 data-bind="text: listName"></h1>
    <input
            data-bind='
                attr: { placeholder: placeholderText },
                textInput: taskName'
            type="text"/>
    <button
            data-bind="
            text: addTaskText,
            enable: enableAdd,
            event: { click: addTask }
            "
            >
    </button>
    <button data-bind="
            text: saveListText,
            event: { click: saveList }
            ">
    </button>
</header>
<ul></ul>